#row-three{
    padding-left:5rem;
    padding-top:10rem;
}

.img-fluid2{
    width:60%;
    margin-top:17%;
    margin-left:25%;
}

.student10{
    font-size:2em;
    font-family:'Bebas Neue';
    padding-top:3rem;
    color:$tertiary;
}


.student12{
    font-size:1.5em;
    font-family:'Bebas Neue';
    color:$primary;
}

.info1{
    font-size:1.2em;
    font-family:'Bebas Neue';
    margin-top:10%;
    width:80%;
    color:$primary;
}

.cv{
    background-color:$secondary;
    color:$tertiary;
    padding-top:2rem;
}

.cv a{
    background: $secondary;
    color:$tertiary;
    text-transform: uppercase;
    font-weight: bold;
}

.fa-paper-plane{
    padding-left:1rem;
    font-size:16px;
}

#IN, #GH{
    text-align:left;
    font-family:'Bebas Neue';
    padding-right:.5em;
    font-size:1.2em;
    color:$tertiary;
} 

#IN-one, #GH-one{
    text-align:left;
    font-family:'Bebas Neue';
    padding-right:.5em;
    font-size:1.1em;
    color:$primary;
} 


#fluid{
    display: flex;
    flex-wrap: wrap;
    margin-top:0%;
    max-height:100%;
    max-width:100%;
    height:900px !important;
    background-color: $secondary;
}




footer{
    color:$primary;
    left: 0;
    bottom: 0;
    max-width: 100%;
    text-align: left;
    align-content: center;
    margin-top:10%;
    display:flex;
    flex-shrink:0;
    margin: 0 auto;
    font-family: 'Bebas Neue';
}

.footer > .container{
    max-width:100%;
    padding-top:10em;
}
.copy{
    border-top:1px solid $tertiary;
    width:97.5% !important;
    color:$tertiary;
}

#fluid-5{
    display: flex;
    flex-wrap: wrap;
    margin-top:0%;
    max-height:100%;
    max-width:100%;
    height:800px !important;
    background-color: $secondary;
}

#row-one{
    background-color:$secondary;
}

#pages{
    list-style-type: none;
}

.location>p{
    color:$primary;
}
.location a{
    color:$primary;
    font-family:'Bebas Neue' !important;
}

.links a{
    color:$primary;
}

h2,.links, .location{
    color:$tertiary;
}
.fa-globe,.fa-at{
    color:$tertiary;
}






@media (min-width: 280px) and (max-width:375px) {

#row-three{
    background-color: $secondary;
    padding-left:.5em;
}

.info1{
    width:100%;
}
.cv{
    background-color: $secondary;
}
 #IN, #GH{
    padding-left:1.2rem;
    padding-top:.5rem;
}
#IN{
    margin-right:-6%;
}

#fluid{
    padding:0 !important;
    background-color: $secondary !important;
}
footer{
    padding-top:30rem !important;
    height:100%;
}
#foot-container{
    max-width:100%;
    padding:2rem !important; 
    background-color: $secondary;
    }

    /*
    #row-one{
        margin-left:0%;
        padding:0 !important;
    }
    */

    .start, #name, #link, #links, #pages a, #location, #globe, #mail{
        padding-left:1.2rem;
        padding-top:.5rem;
    }
    .copy{
        padding-left:2.2rem;
        padding-top:.5rem;
        width:100% !important;
    }
}



@media (min-width:376px) and (max-width:401px){
        #row-three{
            padding-left:.7rem !important;
            background-color:$secondary;
        }
    
     
        /*
        #fluid-5{
            padding-left:1em;
        }
    */
    
    .info1{
        width:100% !important;
    }
    .cv{
        background-color:$secondary;
    }
    #IN, #GH{
        padding-left:2rem;
        padding-top:.5rem;
    }
    #IN{
        margin-right:-9%;
    }


    #fluid{
        padding-left:0 !important;
        background-color: $secondary !important;
    }
    footer{
        padding-top:30rem !important;
        height:100%;
    }
    #foot-container{
        width:100% !important;
        padding:1.6rem !important; 
        background-color: $secondary;
        }
        
        .start, #name, #link, #links, #pages a, #location, #globe, #mail{
            padding-left:2rem;
            padding-top:.5rem;
        }
        .copy{
            padding-left:2.2rem;
            padding-top:.5rem;
            width:350px !important;
        }
        #row-one{
            background-color:$secondary;
        }
    }
              

@media (min-width: 402px) and (max-width:414px) {
    #row-three{
        padding-left:1rem !important;
        background-color: $secondary;
    }

 
    /*
    #fluid-5{
        padding-left:1em;
    }
*/

.info1{
    width:100% !important;
}
.cv{
    background-color: $secondary;
}
#IN, #GH{
    padding-left:2rem;
    padding-top:.5rem;
}
#IN{
    margin-right:-9%;
}
#fluid{
    padding-left:0 !important;
    background-color: $secondary !important;
}
footer{
    padding-top:30rem !important;
    height:100%;
}
#foot-container{
    width:100% !important;
    padding:2rem !important; 
    background-color: $secondary;
    }
    
    .start, #name, #link, #links, #pages a, #location, #globe, #mail{
        padding-left:2rem;
        padding-top:.5rem;
    }
    .copy{
        padding-left:2.2rem;
        padding-top:.5rem;
        width:350px !important;
    }
    #row-one{
        background-color:$secondary;
    }
}
                 

@media (min-width: 500px) and (max-width:568px) {

    #row-three{
        background-color:$secondary;
        padding-left:1em;
    }
    .img-fluid2{
        padding-left:0em;
    }
    .info1{
        width:100%;
    }
    .cv{
        background-color: $secondary;
    }
#IN, #GH{
        padding-left:1.5rem;
        padding-top:.5rem;
    }
    #IN{
        margin-right:-5% !important;
    }
    #IN-one, #GH-one{
        font-size:1.2em;
    }
    #fluid{
        padding:0 !important;
        background-color:$secondary !important;
    }
    footer{
        padding-top:30rem !important;
        height:100%;
    }
     
    #foot-container{
        max-width:100%;
        padding:2rem !important; 
        background-color: $secondary;
        }
        
        .start, #name, #link, #links, #pages a, #location, #globe, #mail{
            padding-left:1.5rem;
            padding-top:.5rem;
        }
        .copy{
            padding-left:2.2rem;
            padding-top:.5rem;
            width:100% !important;
        }
        #row-one{
            margin-left:0%;
            padding:0 !important;
            background-color:$secondary;
        }
    }

                     
@media (min-width: 640px) and (max-width:667px) {

    #row-three{
        padding-left:1em;
    }
    .img-fluid2{
        width:70% !important;
        margin-top:0%;
        margin-left:0%;
        }
    
    #img-fluid2{
        width:50% !important;
        margin-left:28%;
    }

.info1{
    width:100%;
}
#IN, #GH{
    padding-left:2rem;
    padding-top:.5rem;
}
#IN{
    margin-right:-5% !important;
}

#IN-one, #GH-one{
    font-size:.9em;
}
#fluid{
    padding:0 !important;
    background-color:$secondary !important;
}
footer{
    padding-top:20rem !important;
    height:100%;
    }
    #foot-container{
        max-width:100%;
        padding:2.2rem !important; 
        background-color: $secondary;
        }
        .start, #name, #link, #links, #pages a, #location, #globe, #mail{
            padding-left:2rem;
            padding-top:.5rem;
        }
        .copy{
            padding-left:2.2rem;
            padding-top:.5rem;
            width:100% !important;
        } 
}

@media (min-width: 719px) and (max-width:767px) {
    #row-three{
        padding-left:2rem !important;
    }
    #img-fluid2{
        width:40% !important;
        margin-top:-5% !important;
        margin-left:32%;
    }
    
.info1{
    width:100%;
}

#IN, #GH{
    padding-left:0;
    padding-top:.5rem;
}
#fluid{
    padding:0 !important;
    background-color: $secondary !important;
}
footer{
    padding-top:15rem !important;
    height:100%;
    }
    #foot-container{
        max-width:100%;
        padding:5rem !important; 
        background-color:$secondary;
        }
        
        .copy{
            padding-left:1rem;
            padding-top:.5rem;
            width:100% !important;
        } 

        .start, #name, #link, #links, #pages a, #location, #globe, #mail{
            padding-left:0;
            padding-top:.5rem;
        }
        
}
           
               
@media (min-width: 767px) and (max-width:768px) {

    #row-three{
        display:grid;
     }     
     .img-fluid2{
        width:100%;
        margin-top:20% !important;
        }
        .student10, .student12{
            padding-left:0rem;
            width:400px;
        }

.info1{
    padding-left:0rem;
    width:520px !important;
    margin-top:20% !important;
}
#IN, #GH{
    padding-left:2.5rem;
    padding-top:.5rem;
}
#IN{
    margin-right:-7% !important;
}
#fluid{
    padding:0 !important;
    background-color: $secondary !important;
}
footer{
    padding-top:20rem !important;
    height:100%;
    border: none !important;
    }
    #foot-container{
        max-width:100%;
        padding:6rem !important; 
        background-color:$secondary;
        }
        .copy{
            padding-left:2.5rem;
            padding-top:.5rem;
            width:100% !important;
        }
        .start, #name, #link, #links, #pages a, #location, #globe, #mail{
            padding-left:2.5rem;
            padding-top:.5rem;
        }
    
}


@media (min-width: 769px) and (max-width:823px) {

    #row-three{
        display:grid;
     }
     .img-fluid2{
        width:70% !important;
        margin-top:0%;
        margin-left:12%;
        }
        .student10, .student12{
            width:500px !important;
        }
        .info1{
            padding-left:0rem;
            width:600px !important;
            margin-top:20% !important;
        }
        #IN, #GH{
            padding-left:1.5rem;
            padding-top:.5rem;
        }
        #IN{
            margin-right:-3.5% !important;
        }
        #fluid{
            padding:0 !important;
            background-color: $secondary !important;
        }
        footer{
            padding-top:12rem !important;
            height:100%;
            }
            #foot-container{
                max-width:100%;
                padding:7.2rem !important; 
                background-color: $secondary;
                }
                
                
                 .copy{
                    padding-left:1.5rem;
                    padding-top:.5rem;
                    width:100% !important;
                }

.start, #name, #link, #links, #pages a, #location, #globe, #mail{
    padding-left:1.5rem;
    padding-top:.5rem;
}
}


@media (min-width: 824px) and (max-width:1024px) {

#row-three{
    display:grid;
 }
 .img-fluid2{
    margin-top:0%;
    margin-left:13%;
}
.student10{
    width:500px !important;
    margin-top:-8%;
}
.student12{
    width:500px !important;
}
.info1{
    padding-left:0rem;
    width:780px !important;
    margin-top:20% !important;
}
.cv{
    margin-bottom:10% !important;
}
#IN{
    margin-left:9% !important;
}
#fluid{
    background-color:$secondary !important;
    padding-left:6rem;
}
footer{
    margin-left:0rem !important;
}
.copy{
    padding-left:1rem;
    padding-top:.5rem;
    width:96% !important;
}


.foot-container{
    background-color: $secondary;
    padding:0 !important;
}

  
.start, #name, #link, #links, #pages a, #location, #globe, #mail{
    padding-left:1.5rem;
    padding-top:.5rem;
}


.copy{
    padding-left:1rem;
    padding-top:.5rem;
    width:100% !important;
}
}

                     

