#row-two{
    padding-left:4.5rem;
}

.student{
    font-size:1.4em;
    font-family:'Bebas Neue';
    padding-left:3rem;
    padding-top:3rem;
}
 .student1{
    font-size:2.5em;
    font-family:'Bebas Neue';
    color:$tertiary;
    padding-left:3rem;
}
 .student2{
    font-size:2em;
    font-family:'Bebas Neue';
    padding-left:3rem;
}

.info{
    font-size:1.2em;
    font-family:'Bebas Neue';
    margin-top:10%;
    width:80%;
    padding-left:3rem;
    color:$primary;
}

#card{
    text-align:center;
    background:$primary;
    border-radius:0;
    width:45rem;
    height:300px;
    padding:4rem;
    border:2px solid $secondary;
    border-left:none;
}



.student3, .student5{
    font-size:2em;
    font-family:'Bebas Neue';
    color:$secondary;
    padding-left:8rem;
}
.student4{
    font-size:2em;
    font-family:'Bebas Neue';
    color: $tertiary;
    width:100%;
    padding-left:8rem;
}

.student6{
    font-size:2em;
    font-family:'Bebas Neue';
    color: $tertiary;
    padding-top:5rem;
}

.task{
    padding-left:8rem;
    font-size:1.2em;
    font-family:'Bebas Neue';
    padding-top:10%;
    width:85%;
    color:$secondary;
}

.icons{
    width:85%;
    margin-left:-15%;
    margin-top:22%;
}
#third{
    background-color: $secondary;
    padding-top:6rem;
    padding-left:11rem;
  }
  
  #third-1{
      background-color: $secondary;
      width:850px;
      padding-left:10rem;
  }

  .frontend{
    font-size:1.2em;
    font-family:'Bebas Neue';
    margin-top:10%;
    padding-left:3rem;
}

.frontend{
    font-size:1.2em;
    font-family:'Bebas Neue';
    margin-top:10%;
    width:80%;
    padding-left:0rem;
    color:$primary;
    width:100% !important;
}


.img{
    width:70%;
    justify-content: center;
    margin-top:-5%;
    margin-left:21%;
}

.col-sm-8{
    background-color:$secondary;
    font-family:'Bebas Neue';
    height:500px;
    color:$primary;
}

#col-second{
   color:$tertiary;
   background-color:$primary;
   padding-top:5rem !important;
   border:none;
}

#col-img-second{
    background-color: $primary;
    width:100%;
    border:none;
}

.img-fluid{
    margin-left:-10%;
    margin-top:7%;
}

#col-img{
    margin-left:-4%;
}




@media (min-width: 280px) and (max-width:375px) {
    
    #row-two{
        padding-left:0%;
    }

    #col-second{
        padding-left:0 !important;
    }
    
    .img-fluid{
        padding-top:2rem;
    }

    .student, .student1, .student2{
        width:100%;
        padding-left:1rem;
    }
    .info{
        width:100% !important;
        padding-left:1rem;
        font-size:1em;
    }
    #card{
        width:100%;
    }
    .card{
        border-top:none !important; 
        border-right:none !important;
    }
    .student3, .student4, .student5, .student6{
        padding-left:3rem;
    }
  
    .task{
        padding-left:3rem;
        width:100% !important;
        font-size:1em;
    }
    .icons{
        margin-left:15px !important;
        margin-top:20%;
    }
    #third-1, #third{
        width:100%;
        height:500px;
    }
    #third{
        padding-left:0 !important;
    }

    #third-1{
        height:270px;
    }
       
    .frontend{
        padding-left:3rem;
        font-size:1em;
    }
    .img{
        width:90%;
        margin-top:-40%;
        margin-left:2%;
    }
    .img-fluid{
        width:100%;
        margin:0;
    }
    #rowan2{
        height: 200px !important;
    }
    #col-img{
        margin-top:-30%;
    }
}

@media (min-width: 376px) and (max-width:401px) {

    #row-two{
        padding-left:0%;
    }

    .student, .student1, .student2{
        width:100%;
        padding-left:1.2rem;
    }
    .info{
        width:100% !important;
        padding-left:1rem;
        font-size:1em;
    }
    #card{
        width:401px !important;
    }
    .card{
        border-top:none !important;
        border-right:none !important;
    }
    .student3, .student4, .student5{
        padding-left:3.5rem;
        font-size:1.5em;
    }



    .task{
        padding-left:3.5rem;
        width:100% !important;
        font-size:1em;
    }
    .icons{
        margin-left:18px !important;
        margin-top:-30% !important;
    }
    #third{
        height:600px;
    }
    #third-1{
        height:200px;
        width:100%;
    }

.frontend{
    font-size:1em;
    margin-top:5%;
    margin-left:-100px;
    width:280px !important;
}


.student6{
    margin-top:-20%;
    margin-bottom:20%;
    margin-left:-100px;
    width:270px;
}
.img{
    width:90%;
    margin-top:-90%;
    margin-left:2%;
}
.img-fluid{
    width:100%;
    margin:0;
}

#col-second{
    padding-left:0 !important;
}
}


@media (min-width: 402px) and (max-width:414px) {
    
    #row-two{
        padding-left:0%;
        display:grid;
    }    


    .student, .student1, .student2{
        width:100%;
        padding-left:1.2rem;
    }
    .info{
        width:100% !important;
        padding-left:1rem;
    }
    #card{
        width:414px !important;
    }
    .card{
        border-top:none !important; 
        border-right:none !important;
    }
    .student3, .student4, .student5, .student6{
        padding-left:3.5rem;
    }
    .task{
        padding-left:3.5rem;
        width:100% !important;
        font-size:1.1em;
    }
    .icons{
        margin-left:18px !important;
    }
    #third-1, #third{
        width:100%;
        height:500px;
    }

.frontend{
    padding:3.5rem;
    font-size:1.1em;
}
.img{
    width:100%;
    margin:0;
    margin-top:-10% !important;
}
.img-fluid{
    width:100%;
    margin:0;
}
#col-second{
    padding-left:0 !important;
}

#third{
    padding-left:0 !important;
}
}

@media (min-width: 500px) and (max-width:568px) {

    #row-two{
        padding-left:0%;
    }

    .info{
        width:100% !important;
        padding-left:1rem;
    }
        
    .student, .student1, .student2{
        width:100%;
        padding-left:1.2rem;
    }
    #card{
        width:100%;
    }
    .card{
        border-top:none !important; 
        border-right:none !important;
    }
    .student3, .student4, .student5, .student6{
        padding-left:3.5rem;
    }

    .task{
        padding-left:3.5rem;
        width:100% !important;
    }
       
    .icons{
        margin-left:30px !important;
        margin-top:-2%;
    }
    #third-1, #third{
        width:100%;
        height:500px;
    }

    #third-1{
        height:300px;
    }

    .frontend{
        padding:3.5rem;
    }
    .img{
        width:80%;
        margin-top:-30%;
        margin-left:10%;
    }
    #col-second{
        padding-left:0 !important;
    }
    

    #third{
        padding-left:0 !important;
    }
    
    
  
    .img-fluid{
        margin-top:-13%;
        padding-left:2rem;
    }
    .img-fluid{
        width:100%;
        margin:0;
    }
}

@media (min-width: 640px) and (max-width:667px) {

    #row-two{
        padding-left:2rem;
        margin-top:-5%;
        margin-bottom:5rem;
    }
    .info{
        width:300px;
    }
    .card{
        border-top:none !important; 
        border-right:none !important;
    }
    #rowan3{
        display:grid;
        background-color:$primary;
        padding-left:3em;
        height:650px !important;
    }
    
#rowan2{
    display:grid;
    background-color: $secondary;
    padding-left:0;
}

.student3, .student4, .student5{
    width:440px;
    padding-left:2rem;
}

.student6{
    width:440px;
    margin-left:10%;
}

.task{
    width:440px;
    margin-top:5%;
    padding-left:2rem;
}

.icons{
    margin-left:35%;
    width:200px;
    margin-top:-30%;
}
#third, #third-1{
    width: 90% !important;
    margin-left:-10%;
}

.frontend{
    width:440px !important;
    margin-left:10%;
}

.img{
    margin-left:50%;
    width:100%;
}

.col-md-6{
    width:100% !important;
}

.card{
width:100% !important;
}



.img-fluid{
width:100% !important;
margin-top:30% !important;
}

}

@media (min-width: 719px) and (max-width:767px) {


    #row-two{
        padding-left:1rem;
        height:620px !important;
    }
    .info{
        width:400px;
    }
    #card{
        width:50% !important;
    }
    
    #rowan3{
        padding-left:0;
        height:630px;
        background-color: $primary;
    }
    #rowan2{
        padding-left:0;
    }
    .student3, .student4, .student5{
        margin-left:-15%;
    }

.task{
    margin-left:-15%;
    width:490px;
}

#third-1, #third{
    padding-left:4rem;
    height:480px;
}
.frontend{
    text-align: left !important;
    width:100% !important;
}

.img{
    width:90%;
    padding:2rem;
    margin-top:15%;
}
.col-sm-6{
    width:100% !important;
}
.responsive{
    width:18% !important;
    margin-left:-1%;
}



.card{
width:100% !important;
}
}


@media (min-width: 767px) and (max-width:768px) {
    #row-two{
        padding-left:1rem;
        height:620px !important;
    }
    .info{
        width:400px;
    }
    #card{
        width:50% !important;
    }
    #rowan3{
        padding-left:0;
        height:630px;
        background-color: $primary;
    }
    #rowan2{
        padding-left:0;
    }

.student3, .student4, .student5{
    margin-left:-15%;
}
.task{
    margin-left:-15%;
    width:490px;
}


#third-1, #third{
    padding-left:4rem;
    height:480px;
}


.frontend{
    text-align: left !important;
    width:100% !important;
}
.img{
    width:90%;
    padding:2rem;
    margin-top:15%;
}
.card{
    width:40% !important;
}

.col-sm-6{
    width:100% !important;
}
.responsive{
    width:16% !important;
    margin-left:-1%;
}
}

@media (min-width: 769px) and (max-width:823px) {

    #row-two{
        padding-left:1rem;
        height:620px !important;
    }

.info{
    width:400px;
}
#card{
    width:50% !important;
}
#rowan3{
    padding-left:0;
    height:630px;
    background-color: $primary;
}
#rowan2{
    padding-left:0;
}
.student3, .student4, .student5{
    margin-left:-15%;
}
.task{
    margin-left:-15%;
    width:490px;
}

#third-1, #third{
    padding-left:4rem;
    height:480px;
}
.frontend{
    text-align: left !important;
    width:100% !important;
}
.img{
    width:90%;
    padding:2rem;
    margin-top:15%;
}
.card{
    width:40% !important;
}

.col-sm-6{
    width:100% !important;
}
}




@media (min-width: 824px) and (max-width:1024px) {
   
    #card{
        width:512px!important;
       }
       #rowan3{
        height:600px;
        background-color: $primary;
    }
    #rowan2{
        height:500px !important;
    }

    .img{
        margin-top:10%;
    }
    .card{
        width:40% !important;
        padding:0;
    }
}

@media (min-width: 1025px) and (max-width:1366px) {
   
    #card{
        width:683px!important;
       }
       .card{
        width:40% !important;
        padding:0;
    }
    #col-img-second{
        border-left:none !important;
    }
    #col-second{
        border:none !important;
    }
}