nav{
    padding-right:3rem !important;
}

a.nav-link{
    color:$tertiary !important;
}

a.nav-link.active{
    font-weight:bolder !important;
    text-decoration:overline solid $primary;
    text-decoration-style:dotted;
}

.navbar{
    margin-top:0%;
}

hr{
    max-width:1310px;
    margin-top:0%;
}

.nav-link{
    color:$new;
    font-family:'source sans pro';
    text-transform: uppercase;
}

.nav-link:hover{
    color:$primary;
}

.bg-light {
    background-color: $bg;
}



@media (min-width: 280px) and (max-width:375px) {

.nav-item{
    margin-left:0%;
}

nav{
    padding-right:1rem !important;
}
.nav-link.active{
    text-decoration:2px solid $primary underline !important;
    color:#ACACE6;
}
li.nav-item{
    margin-left:5%;
}

button.navbar-toggler, button.navbar-toggler.collapsed{
    background-color:$primary;
}
}

@media (min-width: 401px) and (max-width:414px) {
    nav{
        padding-right:1rem !important;
    }
    button.navbar-toggler, button.navbar-toggler.collapsed{
        background-color:$primary;
    }
    
    .nav-item{
        margin-left:0%;
    }
    .nav-link.active{
        text-decoration:2px solid $primary underline !important;
        color:$primary;
    }
    li.nav-item{
        margin-left:4%;
    }
}


@media (min-width: 500px) and (max-width:568px) {
    nav{
        padding-right:1rem !important;
    }

    .nav-item{
        margin-left:0%;
    }
    button.navbar-toggler, button.navbar-toggler.collapsed{
        background-color:$primary;
    }
    .nav-link.active{
        text-decoration:2px solid $primary underline !important;
        color:$primary;
    }
    li.nav-item{
        margin-left:3%;
    }
}

@media (min-width: 640px) and (max-width:667px) {
    .nav-link{
        text-align: left;
        margin-left:4.5%;
    }
       button.navbar-toggler, button.navbar-toggler.collapsed{
        background-color:$primary;
    }
    .nav-link.active{
        text-decoration:2px solid $primary underline !important;
        color:$primary;
    }
    li.nav-item{
        margin-left:3.5%;
    }
}


@media (min-width: 719px) and (max-width:767px) {
    .nav-link{
        text-align: left;
        margin-left:4%;
    }
    button.navbar-toggler, button.navbar-toggler.collapsed{
        background-color:$primary;
    }
    .nav-link.active{
        text-decoration:2px solid $primary underline !important;
        color:$primary;
    }
    li.nav-item{
        margin-left:2.5%;
    }
}


@media (min-width: 767px) and (max-width:768px) {

    .nav-link{
        text-align: left;
        margin-left:3.5%;
    }
    button.navbar-toggler, button.navbar-toggler.collapsed{
        background-color:$primary;
    }
    .nav-link.active{
        text-decoration:2px solid $primary underline !important;
        color:$primary;
    }
    li.nav-item{
        margin-left:2.5%;
    }
}

@media (min-width: 769px) and (max-width:823px) {

    .nav-link{
        text-align: left;
        margin-left:3.2%;
    }
    button.navbar-toggler, button.navbar-toggler.collapsed{
        background-color:$primary;
    }
    .nav-link.active{
        text-decoration:2px solid $primary underline !important;
        color:$primary;
    }
    li.nav-item{
        margin-left:3%;
    }
}





